.game-tile {
    display: grid;
    grid-template-rows: .75fr .5fr 5fr .5fr;
}

.game-tile > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.game-tile > h2, .game-tile > h4 {
    margin: 0;
}