.game-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.game-detail > .image-div {
    display: flex;
    justify-content: flex-end;
    padding-right: 25%;
}

.game-detail > .image-div > img{
    border-radius: 1rem;
}