.game-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 65vh;
}

.game-detail > .image-div {
    display: flex;
    flex-direction: column;
    padding-right: 25%;
    justify-content: center;
}

.game-detail > .image-div > img{
    border-radius: 1rem;
}