form.play-session-form {
    font-size: 1.75vmin;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
    grid-template-columns: 1fr;
}

.play-session-form-container > form > button[type="submit"] {
    grid-column: span 1;
}

.play-session-form-container > form > textarea {
    padding: 1vmin;
}

form.play-session-form > * {
    font-size: 1.5vmin;
}