.game-info-nav {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.game-info-nav .nav-link:hover {
    color: rgb(194, 243, 194);
}

button.nav-link {
    font-size: 1rem;
}

.nav-link {
    color: black;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    border: none;
    flex-wrap: nowrap;
}

.nav-tabs .nav-link {
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 1rem 1rem 0;
    height: 4rem;
    border: none;
}

.nav-tabs .nav-link:hover {
    border: none;
    margin-bottom: -1px;
}

.nav-tabs .nav-link.active {
    background-color: rgb(194, 243, 194);
    border: none;
    color: rgb(19, 124, 19);
}